@media (min-width: 1200px){
  .container.zonaIMG {
      max-width: 2400px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler {
        background-color: #fc6c3f;
        width: 100%;
        color: #fff;
        margin-bottom: 30px;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding: 7.5px 30px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .navbar-toggler {
        background-color: #fc6c3f;
        width: 100%;
        color: #fff;
        margin-bottom: 15px;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding: 7.5px 30px;
    }
    .product-content, .product-thumb{
      text-align: center;
    }
    .banner h2{
      font-size: 2em;
    }
}
