@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Quicksand:300,400,500,700|Shadows+Into+Light+Two');
@import 'bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #232d37;
    line-height: 1.25;
}

p {
    color: #51545f;
    font-size: 16px;
}

img {  max-width: 100%; }

.mt-15 {  margin-top: 15px; }
.mt-30 {  margin-top: 30px; }
.mt-40 {  margin-top: 40px; }
.mt-50 {  margin-top: 50px; }
.mb-15 {  margin-bottom: 15px; }
.mb-30 {  margin-bottom: 30px; }
.mb-50 {  margin-bottom: 50px; }

ul,ol { margin: 0; padding: 0; }

.logo_area a img, .footer-logo-area a img{
  margin-top: 10px;
  margin-bottom: 15px;
  max-height: 90px;
}
.post-content h4{
  font-size: 16px;
  text-align: center;
}
.post-content p{
  color: blue;
  text-align: center;
  font-size: 13px;
  margin-bottom: 5px;
}
.post-content .product-price{
  text-align: center;
}
.post-content .price-sale-2{
  color: #fff;
  background: #094d9f;
  border-radius: .7rem;
  font-size: 19px;
  font-weight: 500;
  padding: 8px;
}
.zonaIMG .post-thumb img{
  border-radius: 20px;
}
.zonaIMG .col{
  padding-left: 5px;
  padding-right: 5px;
}
.post-thumb img {
    border-radius: 0px;
    margin-bottom: 10px;
}

.bg-pattern {
    background-attachment: fixed;
    background-position: center center;
    background-image: url(../IMG/bg-pattern.jpg);
    position: relative;
    background-size: cover;
    z-index: 1;
}
.bg-pattern:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background-color: rgba(218, 221, 218, 0.90);
    z-index: -1;
}
.banner-area {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner-area:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(35, 45, 55, 0.7);
    z-index: -1;
}

.banner-area .banner-title h2 {
    font-size: 48px;
    color: #fff;
}

.logo_area .logo {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 60px;
    margin-bottom: 0;
    padding: 35px 0 20px 0;
    display: inline-block;
    color: #232d37;
}

.navbar.navbar-expand-lg {
    padding: 0;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link {
    padding: 25px 30px;
    color: #232d37;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar.navbar-expand-lg .navbar-nav .active .nav-link {
    color: #fc6c3f;
}

.dropdown-item {
    font-weight: 500;
    color: #232d37;
    font-size: 14px;
    text-transform: uppercase;
}

.dropdown-item:focus,.dropdown-item:hover {
    color: #fc6c3f;
    text-decoration: none;
    background-color: #f8f9fa;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-weight: 500;
    outline: none;
}

.top_header_area {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ebebeb;
}

.
.top_header_area{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top_header_area .ss-area {
    height: 40px;
    position: relative;
    z-index: 3;
}

.top_header_area .ss-area a {
    font-size: 13px;
    color: #222;
}

.top_header_area .ss-area .correo a {
    margin-right: 6px;
    border-right: 2px solid #c2c2c2;
    padding-right: 6px;
}
.navbar-nav{
  margin-bottom: 15px;
}

.footer-content {
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #eeeeee;
}

.copy_right_text {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.copy_right_text > p {
    font-size: 14px;
    color: #b5aec4;
    margin-bottom: 0;
}

.footer_area .navbar.navbar-expand-lg .navbar-nav .nav-link {
    padding-bottom: 0;
}

.single-post p{
  font-size: 1.2em;
  text-align: justify;
}


.product-thumb img {
    border-radius: 30px;
    margin-bottom: 30px;
}

.single-product {
    margin-bottom: 30px;
}

.single-single-product h4 {
    margin: 10px 0;
    color: #232d37;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
}

.single-product h4:hover {
    color: #fc6c3f;
}

.single-product p {
    color: #51545f;
}

.single-product .read-more {
    font-size: 1.2em;
    color: #fff;
    display: inline-block;
    border: 1px solid #661c9b;
    border-radius: 30px;
    height: 40px;
    min-width: 170px;
    line-height: 40px;
    text-align: center;
	  background: #094d9f;
    padding-left: 10px;
    padding-right: 10px;
}

.single-product .read-more:hover {
    color: #000;
    background: #fff;
    border: 1px solid #000;
}

.list-product.single-product .product-thumb,
.list-product.single-product .product-content {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: 15px;
}

.list-product.product-post .product-content {
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 30px;
}

.list-product.product-post {
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
}

.product_area .col-12:last-of-type .list-product.product-post {
    margin-bottom: 0;
    border-bottom: none;
}

.product_area .col-12:last-of-type .list-product.product-post .product-thumb img {
    margin-bottom: 0;
}
.banner h2{
  font-size: 3em;
}
.product-descrip p{
  font-size: 15px;
  font-weight: 600;
}
.product-descrip table{
  font-size: 13px;
  width: 100%;
}
.product-descrip td{
  width: 50%;
}
.product-descrip table tr td:first-child{
  font-weight: 600;
}
.product-descrip .price h3{
  font-size: 2.1em;
  color: #094d9f !important;
  font-weight: 600;
  text-decoration: underline;
}
.product-descrip .buy, .product-descrip .price h3{
  text-align: center;
}
.product-descrip .buy a{
  background-color: #fc6c3f;
  padding: 10px 40px;
  color: #000;
  border-radius: 10px;
}
.product-descrip .buy a:hover{
  background-color: #fff;
  border: 1px solid black;
}
